In [24]:
import pandas as pd

arquivo = pd.read_csv("situaçãoAluno.txt")

media = (arquivo["nota_1"] + arquivo["nota_2"]) / 2

arquivo["media"] = media

arquivo.loc[arquivo["media"] >= 7, "situacao"] = "Aprovado"

arquivo.loc[(arquivo["media"] < 7) | (arquivo["faltas"] > 5 ), "situacao"] = "Reprovado"

arquivo["faltas"].max()

arquivo["media"].mean()

arquivo["media"].max()

arquivo.to_csv("sample_data/situacaoAlunos.txt")

arquivo

          aluno  nota_1  nota_2  faltas  media   situacao
0  Maria Leones     9.0     8.0       1   8.50   Aprovado
1          José     5.0     6.4       0   5.70  Reprovado
2         Paula    10.0     8.0       9   9.00  Reprovado
3       Vitória     8.0     7.5       0   7.75   Aprovado